<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated basicfamily -->
      <package
            uri="http://www.eclipse.org/sirius/sample/basicfamily"
            class="basicfamily.BasicfamilyPackage"/>
   </extension>
   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="uk.ac.york.aconite.family.Activator"
            id="uk.ac.york.aconite.family.sirius"
            name="uk.ac.york.aconite.family.sirius">
      </component>
   </extension>

</plugin>
