<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point = "org.eclipse.ui.commands">
	<category
		id = "uk.ac.york.aconite.category"
		name = "Ecore2Sirius">
	</category>
	 <command
 		categoryId="uk.ac.york.aconite.category"
		defaultHandler="uk.ac.york.aconite.handlers.SiriusGenHandler"
       	id="uk.ac.york.aconite.Ecore2Sirius"
       	name="Generate Odesign from Ecore">
     </command>
      <command
 		categoryId="uk.ac.york.aconite.category"
		defaultHandler="uk.ac.york.aconite.handlers.SiriusRevHandler"
       	id="uk.ac.york.aconite.Sirius2Ecore"
       	name="Generate Annotated Ecore from Odesign">
     </command>
	</extension>
	<extension
   			point="org.eclipse.ui.menus">
   		<menuContribution
   			allPopups="false"
   			locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
   			<command
   				commandId="uk.ac.york.aconite.Ecore2Sirius"
   				label="Generate Odesign from Ecore"
   				style="push">
   			</command>
   		</menuContribution>
   		<menuContribution
   			allPopups="false"
   			locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
   			<command
   				commandId="uk.ac.york.aconite.Sirius2Ecore"
   				label="Generate Annotated Ecore from Odesign"
   				style="push">
   			</command>
   		</menuContribution>
   	</extension>
   	 <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="epsilon/aconite.evl"
            namespaceURI="http://uk.ac.york.aconite.validator"
            validator="aconite.valitator">
      </constraintsBinding>
   </extension>
</plugin>
