<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point = "org.eclipse.ui.commands">
	<category
		id = "uk.ac.york.aconite.category"
		name = "Ecore2Sirius">
	</category>
	 <command
 		categoryId="uk.ac.york.aconite.category"
		defaultHandler="uk.ac.york.aconite.handlers.SiriusGenHandler"
       	id="uk.ac.york.aconite.Ecore2Sirius"
       	name="Generate Odesign from Ecore">
     </command>
      <command
 		categoryId="uk.ac.york.aconite.category"
		defaultHandler="uk.ac.york.aconite.handlers.SiriusRevHandler"
       	id="uk.ac.york.aconite.Sirius2Ecore"
       	name="Generate Annotated Ecore from Odesign">
     </command>
	</extension>
	<extension
   			point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?before=compareWithMenu">
        <menu
              icon="icons/AconiteIcon.png"
              label="Aconite">
           <command
                 commandId="uk.ac.york.aconite.Ecore2Sirius"
                 label="Generate Odesign"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="activeMenuSelection">
                    <iterate
                          ifEmpty="false">
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                             <or>
                             <test
                                   property="org.eclipse.core.resources.extension"
                                   value="emf">
                             </test>
                             <test
                                   property="org.eclipse.core.resources.extension"
                                   value="ecore">
                             </test>
                          </or>
                       </adapt>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
         </menu>
     </menuContribution>
   	</extension>
   	 <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="epsilon/aconite.evl"
            namespaceURI="http://www.eclipse.org/emf/2002/Ecore">
      </constraintsBinding>
   </extension>
</plugin>
